// Colors
$main: #daa070;
$main-light: #e6cdb7;
$blue: #32b1b6;
$blue-light: #a5e8de;
$white: #ffffff;
$black: #373531;
$black-bg: #313437;
$grey: #ecebea;
$grey66: #ecebeaa8;

//Font Families
$kaushan: "Kaushan Script", cursive;
$nunito: "Nunito", sans-serif;
$dancing: "Dancing Script", cursive;

// Breakpointsmedia-queries
$desktop: 1200px;
$tablet: 991px;
$mobile: 767px;
$min-mob: 567px;
