@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&family=Nunito:ital,wght@0,300;0,400;0,700;1,300&display=swap");

// font-family: 'Dancing Script', cursive;
// font-family: 'Kaushan Script', cursive;
// font-family: 'Nunito', sans-serif;

// @font-face {
//   font-family: "Caveat Brush";
//   src: url("../fonts/CaveatBrush-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
//   src: url("../fonts/CaveatBrush-Regular.woff") format("woff"); /* Pretty Modern Browsers */
// }

// auto-resizing fonts
html {
  font-size: 15px;
}

@media screen and (min-width: 400px) {
  html {
    font-size: calc(15px + 5 * ((100vw - 400px) / 1000));
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}

.top-space {
  height: 146px;
  //background-color: #313437;

  @media (max-width: 1500px) {
    height: 175px;
  }

  @media (max-width: 1200px) {
    height: 150px;
  }

  @media (max-width: 991px) {
    height: 140px;
  }

  @media (max-width: 767px) {
    height: 72px;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

// fix
p {
  margin-bottom: 0;
  font-size: 18px;

  @media (max-width: 1450px) {
    font-size: 16px;
  }

  @media (max-width: $min-mob) {
    font-size: 14px;
  }
}

//general
html {
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100%;
}

body {
  font-family: $nunito;

  color: $black;

  font-weight: 400;

  box-sizing: border-box;

  overflow-x: hidden;
}

a {
  transition: 0.3s;
  display: block;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 1640px;

  &__small {
    max-width: 1100px;
  }

  &-smaller {
    max-width: 80%;
    margin: 0 auto;

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}

.text {
  font-size: 18px;

  @media (max-width: 1450px) {
    font-size: 16px;
  }

  @media (max-width: $min-mob) {
    font-size: 14px;
  }
}

.card {
  border: none;

  text-align: center;
}

.slick-slide {
  padding-left: 15px;
  padding-right: 15px;
}

img {
  max-width: 100%;

  width: 100%;

  height: auto;

  object-fit: cover;
}

// SECTION

section {
  padding: 5rem 0;

  @media (max-width: 1450px) {
    padding: 5rem 0;
  }

  @media (max-width: 1200px) {
    padding: 5rem 0;
  }

  @media (max-width: 991px) {
    padding: 5rem 0;
  }

  @media (max-width: 767px) {
    padding: 4rem 0;
  }
}

.section {
  &__title {
    font-size: 4rem;
    font-family: $kaushan;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 3rem;
    text-transform: lowercase;

    @media (max-width: 1450px) {
      margin-bottom: 3.5rem;
      font-size: 60px;
    }

    @media (max-width: 1200px) {
      margin-bottom: 3rem;
      font-size: 40px;
    }

    @media (max-width: 567px) {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;

    margin-bottom: 4rem;

    text-align: center;

    @media (max-width: 1450px) {
      margin-bottom: 3.5rem;
    }

    @media (max-width: 1200px) {
      margin-bottom: 3rem;
    }

    @media (max-width: 991rem) {
      margin-bottom: 2rem;
    }

    @media (max-width: 991rem) {
      margin-bottom: 2rem;
    }
  }
}

// pagination START
// .pagination > *:first-child {
//     border-radius: 0.3em 0 0 0.3em;
// }

.pagination a {
  display: inline-block;

  vertical-align: middle;

  text-align: center;

  width: 2.4em;

  height: 2.4em;

  line-height: 2.4em;

  margin: 0 1px 1px 0;

  background: var(--main-color-theme);

  color: var(--main-color-text);

  transition: all 0.1s;

  text-decoration: none;

  border: 1px solid var(--main-color-text);
}

.pagination span {
  display: inline-block;

  vertical-align: middle;

  border: 1px solid var(--main-color-text);

  text-align: center;

  width: 2.4em;

  height: 2.4em;

  line-height: 2.5em;

  margin: 0 1px 1px 0;

  background: var(--main-color-text);

  color: var(--main-color-theme);

  transition: all 0.1s;

  text-decoration: none;
}

// Btn Circle
.btn {
  &__circle {
    &:hover svg path {
      fill: $main;
    }

    &:hover svg path.circle {
      transform: rotateX(180deg);
    }

    svg {
      max-width: 45px;
      max-height: 45px;

      path {
        transition: 0.3s;
        fill: $black;

        &.circle {
          transform-origin: center;
        }
      }
    }
  }
}

// looking for efect to dealay sibling transition until one finish

// navbar header ( desktop )
.navbar {
  position: fixed;
  display: block;
  width: 100%;
  padding: 0;
  background-color: $white;
  z-index: 999;
  top: 0;

  // @media (max-width: $mobile) {
  //   position: relative;
  // }

  .container {
    display: block;
  }

  #navbarTop {
    transition: 0.1s;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media (max-width: 1500px) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &.scrolled {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  #navbarBottom {
    background-color: $black-bg;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  .row {
    &__top {
      justify-content: space-between;
      align-items: center;

      @media (max-width: $mobile) {
        justify-content: center;
      }

      .menu__link.btn__circle {
        padding-left: 10px;
        padding-right: 10px;
      }

      .left {
        @media (max-width: $mobile) {
          display: none;
        }
      }

      .right {
        @media (max-width: $mobile) {
          display: none;
        }
      }

      .middle {
        display: flex;
        align-items: center;
        justify-content: center;

        .header {
          &__logo {
            &.big {
              display: block;

              .logo__img {
                max-height: 4.5rem;

                @media (max-width: $desktop) {
                  max-height: 3.5rem;
                }
              }
            }

            &.small {
              position: relative;
              display: block;
              z-index: 999;
              transform: translateY(20px);

              &:before {
                content: "";
                width: 100px;
                height: 100px;
                background-color: $white;
                position: absolute;
                top: 40%;
                left: 50%;
                z-index: -1;
                transform-origin: center center;
                transform: translate(-50%, -50%) rotate(45deg);
              }

              svg path {
                transition: 0.3s;
              }

              &:hover svg path {
                fill: $main;
              }
            }
          }
        }
      }
    }

    &__bottom {
      justify-content: space-between;
      width: 100%;
      margin-bottom: 0;
      display: flex;
      margin-left: auto;
      margin-right: auto;

      li {
        list-style: none;
        padding: 0;
        width: 13vw;
        min-width: fit-content;
        max-width: 250px;
        text-align: center;
        transition: 0.3s;
        font-size: 18px;

        &.scrolled {
          width: 9vw;
          max-width: 250px;

          &.first {
            margin-right: 20px;
          }

          &.second {
            margin-left: 20px;
          }
        }

        a {
          color: #fff;
          transition: 0.2s;

          // border: 2px solid $grey;
          &:hover {
            background-color: $grey;
            color: $black;
            outline: 2px solid $black-bg;
          }
        }

        .nav-link {
          padding: 7px 10px;
        }
      }

      #menu-item-25 {
        font-family: $nunito;
        text-transform: uppercase;
      }
    }
  }
}

// navbar bottom fixed mobile
.navbar {
  &__mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $black-bg;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    z-index: 10;

    @media (min-width: $mobile) {
      display: none;
    }

    .hidden {
      display: none;
    }

    .nav {
      &__link {
        display: flex;
        flex-direction: column;
        align-items: center;

        .link__name {
          color: #fff;

          @media (max-width: 400px) {
            font-size: 0.8rem;
          }
        }

        &:first-child {
          .link__name {
            color: $blue;
          }

          svg path {
            fill: $blue;
          }
        }

        &:last-child {
          .link__name {
            color: $main;
          }

          svg path {
            fill: $main;
          }
        }

        svg {
          margin-bottom: 0.7rem;

          @media (max-width: 500px) {
            width: 35px;
            height: 35px;
          }

          &.menu {
            width: 45px;
            height: 45px;

            @media (max-width: 500px) {
              width: 35px;
              height: 35px;
            }
          }

          path {
            transition: 0.3s;
            fill: $white;
          }
        }
      }
    }
  }
}

// navbar mobile opened burger (full screen)
.navbar.burger {
  position: fixed;
  top: 72px;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $black;
  padding-top: 2rem;

  &.opened {
    display: flex;
  }

  &.closed {
    display: none;
  }

  .header__logo.big {
    svg path {
      fill: $white;
    }

    svg rect {
      fill: $white;
    }
  }

  .nav__links {
    list-style: none;
    padding-left: 0;
    text-align: center;

    li {
      font-size: 1.5rem;

      &:first-child {
        text-transform: uppercase;

        a {
          color: $blue;
        }
      }

      a {
        color: $white;
      }
    }
  }

  .close__btn {
    margin-bottom: 2rem;
  }
}

.footer {
  background-color: $black-bg;
  color: $white;
  padding: 3rem 0;
  z-index: 99;
  position: relative;

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .logo__wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 19rem;
    }

    @media (max-width: $desktop) {
      margin-bottom: 3rem;
    }
  }

  &__column {
    @media (max-width: 1200px) {
      text-align: center;
    }

    @media (max-width: $min-mob) {
      margin-bottom: 3rem;
    }

    &.socialmedia {
      @media (max-width: $tablet) {
        padding-top: 3rem;
      }

      @media (max-width: $min-mob) {
        padding-top: 0;
      }

      .wrap {
        width: fit-content;

        @media (max-width: $tablet) {
          display: flex;
          justify-content: center;
        }

        @media (max-width: $min-mob) {
          display: block;
        }
      }
    }

    &.kontakt {}
  }

  &__title {
    font-weight: 400;
    margin-bottom: 1.25rem;
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  &__link {
    color: $white;
    font-size: 0.9rem;
    font-weight: 300;

    &:hover {
      color: $white;
      opacity: 0.7;
    }

    &.socialmedia {
      display: flex;
      margin-bottom: 2rem;
      justify-content: flex-start;
      align-items: center;

      @media (max-width: $desktop) {
        // text-align: center;
        // justify-content: center;
      }

      &:first-child {
        @media (max-width: $tablet) {
          flex-direction: row-reverse;
        }

        @media (max-width: $min-mob) {
          flex-direction: row;
        }

        .footer__icon {
          @media (max-width: $tablet) {
            margin-left: 15px;
            margin-right: 10px;
          }

          @media (max-width: $min-mob) {
            margin-left: 0;
          }
        }
      }

      &:last-child {
        .footer__icon {
          @media (max-width: $tablet) {
            margin-left: 10px;
          }

          @media (max-width: $min-mob) {
            margin-left: 0;
          }
        }
      }
    }

    &.email {
      margin-bottom: 1.25rem;
    }
  }

  &__text {
    font-size: 0.9rem;
    font-weight: 300;
  }

  &__icon {
    width: 45px;
    height: 45px;
    margin-right: 15px;
  }

  .socialmedia__wrap {
    @media (max-width: $desktop) {
      display: flex;
      justify-content: center;
    }

    @media (max-width: $min-mob) {
      display: flex;
      justify-content: center;
    }
  }
}

// Section Intro
section.intro {
  height: calc(100vh - 210px);
  position: relative;
  background-position: center;
  background-size: cover;

  .intro {
    &__banner {
      background: $grey66;
      width: 35%;
      min-width: 450px;
      text-align: center;
      padding: 30px;
      display: block;
      position: absolute;
      left: 0;
      top: 50%;

      @media (max-width: $tablet) {
        padding: 15px;
      }

      @media (max-width: $min-mob) {
        width: 75%;
        min-width: 300px;
        top: 20%;
      }

      .banner {
        &__text {
          font-family: $kaushan;
          font-size: 4rem;
          line-height: 0.9;
          text-transform: lowercase;

          @media (max-width: $tablet) {
            font-size: 60px;
          }

          @media (max-width: $min-mob) {
            font-size: 40px;
            width: fit-content;
            display: inline;
          }

          &.top {
            position: relative;
            color: $black;
            transform: translateY(25%);
            z-index: 2;
          }

          &.bottom {
            position: relative;
            color: $blue;
            transform: translateY(-25%);
            z-index: 1;
          }
        }

        &__btn {
          width: fit-content;
          margin-top: -50px;
          margin-left: auto;
          display: flex;
          align-items: flex-end;

          @media (max-width: $min-mob) {
            margin-top: 15px;
          }

          span {
            color: $black;
          }
        }
      }
    }
  }
}

// Home Info
section.info {
  .container {
    position: relative;
    padding-bottom: 5rem;

    &:after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &.right {
      &:after {
        background-color: $main;
      }
    }

    &.left {
      &:after {
        background-color: $blue-light;
      }
    }
  }

  .title__wrap {
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      top: 60%;
      z-index: -1;

      @media (max-width: $min-mob) {
        top: 1rem;
      }
    }

    &.right {
      &:before {
        background-color: $main;
      }
    }

    &.left {
      &:before {
        background-color: $blue-light;
      }
    }
  }

  .info {
    &__title {
      width: fit-content;
      background-color: $white;
      padding-left: 5rem;
      padding-right: 5rem;

      &.right {
        margin-left: auto;
        margin-right: 15vw;
        color: $main;

        @media (max-width: 1200px) {
          margin-right: -15px;
        }

        @media (max-width: $min-mob) {
          padding-right: 15px;
        }
      }

      &.left {
        margin-left: 15vw;
        margin-right: auto;
        color: $blue-light;

        @media (max-width: 1200px) {
          margin-left: -15px;
        }

        @media (max-width: $min-mob) {
          padding-left: 15px;
        }
      }
    }

    &__content {
      max-width: calc(800px + 6rem);
      padding-left: 3rem;
      padding-right: 3rem;
      margin: 0 auto;
      text-align: center;
      font-family: $nunito;
      font-weight: 300;

      @media (max-width: $min-mob) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

// Product Card
.product__card,
.woocommerce-LoopProduct-link {
  position: relative;
  display: block;
  color: $black;

  &:hover {
    color: $black;
  }

  &:focus {
    outline: 0px;
  }

  .product {
    &__img {
      position: relative;
      margin-bottom: 15px;

      .yith-wcwl-add-to-wishlist {
        position: absolute;
        top: 10px;
        right: 10px;
        margin: 0;
        padding: 0;

        .yith-wcwl-add-button {
          a.add_to_wishlist {
            i.yith-wcwl-icon {
              margin: 0;
              padding: 0;
              color: #daa070;
              font-size: 20px;
            }
          }
        }

        .feedback {
          font-size: 12px;
          color: #daa070;
          display: flex;
          flex-direction: row-reverse;
          align-items: flex-end;

          .yith-wcwl-icon {
            margin-right: 0 !important;
            color: #daa070;
            font-size: 20px;
            margin-left: 5px;
          }
        }
      }

      &:hover {
        .product__options {
          display: none;
          opacity: 1;
        }
      }

      img {
        max-height: 520px;
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__name {
      font-size: 18px;

      @media(max-width:1280px) {
        font-size: 16px;
      }
    }

    &__price {
      font-size: 25px;

      @media(max-width:1280px) {
        font-size: 20px;
      }
    }

    &__options {
      position: absolute;
      bottom: 0;
      opacity: 0;
      display: flex;
      transition: 0.2s linear;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      height: 60px;
      width: 100%;
      background-color: $grey;
      display: none;

      @media (max-width: 1024px) {
        position: unset;
        opacity: 1;
      }
    }
  }
}

// Products Slider
.slider {
  .slick-arrow {
    position: absolute;
    top: 50%;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    color: transparent;
    width: 50px;
    height: 50px;
  }

  .slick-prev {
    left: 0;
    z-index: 99;
    background-image: url(../../src/img/icons/slider-arrow-left.svg);
    transform: translate(50%, -50%);
  }

  .slick-next {
    right: 0;
    background-image: url(../../src/img/icons/slider-arrow-right.svg);
    transform: translate(-50%, -50%);
  }
}

// info image
.info-image {
  &.left {
    padding-bottom: 6rem;

    @media (max-width: 1450px) {
      padding-bottom: 3rem;
    }
  }

  &.right {
    padding-top: 3rem;

    .row {
      @media (max-width: $tablet) {
        flex-direction: column-reverse;
      }
    }
  }

  .images__wrap {
    padding-left: 0;
    padding-right: 0;
    max-height: fit-content;

    @media (max-width: $tablet) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media (max-width: $mobile) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .color__wrap.left {
      background-color: $blue-light;

      @media (max-width: $tablet) {
        background-color: transparent;
      }

      &:hover {
        background-color: $main;

        @media (max-width: $tablet) {
          background-color: transparent;
        }
      }
    }

    .color__wrap.right {
      background-color: $main;

      @media (max-width: $tablet) {
        background-color: transparent;
      }

      &:hover {
        background-color: $blue-light;

        @media (max-width: $tablet) {
          background-color: transparent;
        }
      }
    }

    .info-image__img {
      &.left {
        transform: translate(12%, 10%);

        @media (max-width: 1450px) {
          transform: translate(5%, 7%);
        }

        @media (max-width: $tablet) {
          transform: translate(0, 0);
        }
      }

      &.right {
        transform: translate(-12%, 10%);

        @media (max-width: 1450px) {
          transform: translate(-5%, 7%);
        }

        @media (max-width: $tablet) {
          transform: translate(0, 0);
        }
      }

      display: block;

      &.hover {
        display: none;
      }
    }

    &:hover {
      @media (min-width: $tablet) {
        .info-image__img {
          display: none;

          &.hover {
            display: block;
          }
        }
      }
    }
  }

  .content__wrap {
    @media (max-width: $tablet) {
      margin-top: -150px;
    }

    @media (max-width: $mobile) {
      margin-top: -120px;
    }

    @media (max-width: $mobile) {
      margin-top: -100px;
    }
  }

  &__title {
    text-align: center;

    @media (max-width: 1450px) {
      margin-bottom: 1rem;
    }

    @media (max-width: $tablet) {
      width: fit-content;
      padding-left: 90px;
      padding-right: 90px;
      margin-bottom: 105px;
      line-height: 90px;
    }

    @media (max-width: $mobile) {
      font-size: 40px;
      padding-right: 60px;
      padding-left: 60px;
      line-height: 60px;
    }

    &.left {
      color: $blue;

      @media (max-width: $tablet) {
        color: $black;
        background-color: $blue-light;

        margin-left: -15px;
      }
    }

    &.right {
      color: $main;
      position: relative;

      @media (max-width: $tablet) {
        color: $black;
        background-color: $main;
        margin-left: auto;
        // margin-right: -15px;
        z-index: 99;
      }
    }
  }

  &__content {
    max-width: 390px;
    margin: 0 auto;
    text-align: center;

    @media (max-width: $tablet) {
      max-width: 100%;
      padding-left: 45px;
      padding-right: 45px;
    }

    @media (max-width: $tablet) {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// Info Cards
.info-cards {
  .card {
    @media (max-width: $mobile) {
      margin-bottom: 4rem;
    }

    &__icon {
      max-width: 250px;
      margin: 0 auto;
      margin-bottom: 30px;

      @media (max-width: $desktop) {
        max-width: 200px;
      }
    }

    &__name {
      font-size: 25px;
    }
  }
}

// basic
.basic {
  section.content {
    // container width
    padding-top: 0;

    .container {
      &.small {
        max-width: 810px;
      }




      h1 {
        font-family: $kaushan;
        font-size: 80px;
        color: #6a5d6b;
        text-transform: lowercase;
        margin-bottom: 3rem;

        @media (max-width: 1450px) {
          margin-bottom: 3rem;
          font-size: 60px;
        }

        @media (max-width: 1200px) {
          margin-bottom: 3rem;
          font-size: 40px;
        }

        @media (max-width: 567px) {
          font-size: 40px;
          line-height: 40px;
        }

        strong {
          font-weight: 700;
        }
      }

      h2 {
        text-transform: uppercase;
        color: #6a5d6b;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 30px;

        @media (max-width: 1200px) {
          margin-bottom: 3rem;
          font-size: 20px;
        }

        strong {
          font-weight: 700;
        }
      }

      h3 {
        font-size: 25px;
        color: $blue;
        font-weight: 400;
        margin-bottom: 30px;

        @media (max-width: 1200px) {
          margin-bottom: 3rem;
          font-size: 20px;
        }

        strong {
          font-weight: 700;
        }
      }

      h4 {
        font-weight: 400;
        text-transform: uppercase;
        color: #b0a9b0;
        margin-bottom: 15px;
        font-size: 18px;

        @media (max-width: 1450px) {
          font-size: 16px;
        }

        @media (max-width: $min-mob) {
          font-size: 14px;
        }

        strong {
          font-weight: 700;
        }
      }

      h5 {
        font-weight: 400;
        text-transform: uppercase;
        color: #b0a9b0;
        margin-bottom: 15px;
        font-size: 16px;

        @media (max-width: 1450px) {
          font-size: 14px;
        }

        @media (max-width: $min-mob) {
          font-size: 13px;
        }

        strong {
          font-weight: 700;
        }
      }

      p {
        font-weight: 300;
        margin-bottom: 5px;

        strong {
          font-weight: 700;
        }
      }




      .woocommerce-shipping-calculator {
        a {
          color: #32b1b6;
          transition: .1s linear;

          &:hover {
            color: #daa070;
          }
        }
      }

      // p strong {
      //   font-weight: 400;
      // }

      img {
        &:nth-child(odd) {
          background-color: $blue-light;
        }
      }

      figure {
        margin-bottom: 120px;

        @media (max-width: $tablet) {
          margin-bottom: 3rem;
        }

        &:nth-child(odd) {
          background-color: $blue-light;
          margin-bottom: calc(120px + 50px);

          @media (max-width: $tablet) {
            margin-bottom: 3rem;
          }

          img {
            transform: translate(12%, 10%);

            @media (max-width: 1450px) {
              transform: translate(5%, 7%);
            }

            @media (max-width: $tablet) {
              transform: translate(0, 0);
            }
          }
        }

        &:nth-child(even) {
          background-color: $main;
          margin-top: 100px;

          @media (max-width: $tablet) {
            margin-top: 0;
          }

          img {
            transform: translate(-12%, -10%);

            @media (max-width: 1450px) {
              transform: translate(-5%, -7%);
            }

            @media (max-width: $tablet) {
              transform: translate(0, 0);
            }
          }
        }
      }
    }

    ol {
      li {
        color: #373531;
        font-size: 18px;
        font-weight: 300;

        @media(max-width:1450px) {
          font-size: 16px;
        }

        @media(max-width:576px) {
          font-size: 14px;
        }

        strong {
          font-weight: 700;
        }
      }
    }

    ul {
      li {
        color: #373531;
        font-size: 18px;
        font-weight: 300;

        @media(max-width:1450px) {
          font-size: 16px;
        }

        @media(max-width:576px) {
          font-size: 14px;
        }

        strong {
          font-weight: 700;
        }
      }
    }
  }

  // section info customisation common part
  section.info {
    padding-top: 0rem;

    .title__wrap {
      &:before {
        background-color: #6a5d6b;
      }
    }

    .info {
      &__title {
        color: #6a5d6b;
      }
    }

    .container {
      &:after {
        background-color: #6a5d6b;
      }
    }
  }
}

// breadcrumbs
.breadcrumbs {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fff;
  position: relative;
  width: 20%;

  a {
    display: inline;
    text-transform: lowercase;
    color: #b0a9b0;
  }

  .breadcrumb_last {
    color: #6a5d6b;
  }
}

// section social
.social {
  padding-top: 0;
  padding-bottom: 0;

  &__part {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }

  .social {
    &__title {
      text-align: center;
      margin-bottom: 4.5rem;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blue-light;

    .wpcf7 {
      width: fit-content;
      display: block;
    }

    form {
      label {
        margin-bottom: 0;
      }

      input {
        -webkit-box-sizing: border-box;
        height: 3rem;
        margin-bottom: 30px;
        border: transparent;
        max-width: 90vw;
      }

      input[type="text"] {
        padding: 18px;
        color: #37353182;
      }

      input[type="email"] {
        padding: 18px;
        color: #37353182;
      }

      input[type="submit"] {
        border: none;
        background-color: transparent;
        height: auto;
        margin-bottom: 0;
      }

      p:last-of-type {
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        width: fit-content;

        &:before {
          content: "";
          width: 45px;
          height: 45px;
          display: block;
          background-image: url("../../src/img/icons/btn_arrow-right.svg;");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        .ajax-loader {
          position: absolute;
          visibility: hidden;
        }
      }
    }
  }

  .instagram {
    background-color: $main-light;
  }
}

.navbar .row__bottom {
  //justify-content: center;
  justify-content: space-around;
  width: 90%;
  margin-bottom: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.navbar .row__bottom li {
  width: unset;
  //padding: 5px 50px;
}







// add style from worpdress custom css

.reset_variations {
  display: none !important;
}

.single-product-class .woocommerce-variation-add-to-cart {
  position: relative;
}

.single-product-class .added_to_cart {
  position: absolute;
  text-align: center;
  background-color: #a5e8de;
  color: black;
  padding: 10px;
  color: #32b1b6;
  margin-top: 80px;
  font-size: 16px;
  top: unset;
  left: unset;
  width: unset;
}

.woocommerce-MyAccount-content .navigation-text a {
  margin-left: 5px;
  margin-right: 5px;
}

.woocommerce-MyAccount-content .navigation-text a:last-child {
  margin-right: 0px;
}

.basic .woocommerce-MyAccount-content .woocommerce-Button {
  margin-left: 0px !important;
  margin-right: 5px;
}

.account-orders-table {
  width: 100%;
}

.new .slider .product__card .product__img img {
  height: 520px !important;
}

.product__card .product__img:hover .product__options {
  display: none;
}

.woocommerce-LoopProduct-link .product__img:hover .product__options {
  opacity: 0;
}

.berocket_single_filter_widget.berocket_inline_filters {
  padding-right: 0px !important;
}

.bapf_slct select {
  border: 1px solid #DAA070;
  font-size: 16px;
}

.woocommerce-LoopProduct-link .product__img {
  transition: .3s;
}

.woocommerce-LoopProduct-link .product__img:hover {
  opacity: .8;
}

.site-main .summary .product_meta a {
  color: black;
}

.site-main .summary .woocommerce-Price-amount {
  color: black;
}

.site-main .summary .variations select {
  color: black;
  height: 40px;
  font-size: 16px;
}

.site-main .summary .variations select .attached {
  color: black;
}

.single-product-class .woocommerce-variation-add-to-cart button {
  height: 50px;
  margin-top: 20px;
}

.site-main .summary .product_meta a:after {
  width: 50%;
  height: 1px;
  background-color: #32b1b6;
  display: block;
  content: "";
  right: 0px;
  margin-top: -25px;
  margin-left: 320px;
}

.single-product-class form {
  display: flex;
  flex-flow: column;
}

.single-product-class form .quantity {
  display: flex;
  margin: 20px 0px;
  width: 54%;
}

.single-product-class form .quantity .minus {
  margin-right: -7px;
  border: 1px solid #ecebea;
  border-right: none;
  background-color: white;
}

.single-product-class form .quantity .text {
  height: 49px;
  text-align: center;
  border: 1px solid #ecebea;
  border-left: none;
  width: 100%;
}

.single-product-class form .quantity .plus {
  margin-left: -7px;
  background-color: white;
  border: 1px solid #ecebea;
  border-left: none;
}

.single-product-class form button {
  font-size: 18px;
  background-color: #6a5d6b;
  padding: 9px 18px;
  color: white;
  border: none;
  width: 54%;
  transition: 0.5s;
}

.single-product-class form .added_to_cart {
  position: absolute;
  text-align: center;
  background-color: transparent !important;
  color: black;
  padding: 10px;
  margin-top: 150px;
  font-size: 16px;
  top: unset;
  left: unset;
  width: unset;
  border: 1px solid #a5e8de;
}

.single-product-class form button:hover {
  background-color: white;
  color: #6a5d6b;
  border: 1px solid #6a5d6b;
}

.up-sells {
  display: none;
}

.stars span {
  display: flex;
}

.stars span a {
  margin-right: 20px;
  color: #a5e8de;
}

.comment-respond form p {
  display: flex;
  flex-flow: column;
}

.comment-respond .comment-form-cookies-consent {
  flex-flow: row !important;
  align-items: center;
  margin-top: 20px;
}

.comment-respond .comment-form-cookies-consent label {
  font-size: 12px;
  margin-left: 16px;
  margin-bottom: 0px;
}

.comment-respond label {
  margin-top: 16px;
}

.woocommerce-Tabs-panel--reviews {
  margin-top: 40px;
}

.comment-respond .submit {
  margin-top: 20px;
  font-size: 18px;
  background-color: #6a5d6b;
  padding: 9px 18px;
  color: white;
  border: none;
  width: 67%;
  transition: 0.5s;
}

.woocommerce-LoopProduct-link .product__img img {
  height: 520px;
}

#cn-notice-buttons {
  margin-left: 80px;
}

.comment-respond .submit:hover {
  background-color: white;
  color: #6a5d6b;
  border: 1px solid #6a5d6b;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #313437;
  padding-right: 0px;
  padding-left: 0px;
  flex-flow: column;
  margin-left: -30px;

  @media(max-width:767px) {
    left: 0;
    right: 0;
    background-color: transparent;
    margin-left: 0;

    a.dropdown-item {
      &:hover {
        background-color: transparent !important;
        border: none !important;
        color: #ffffff !important;
      }
    }
  }
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown-menu li a {
  padding: 0px 30px;
}

.dropdown-menu li a:hover {
  background-color: #ecebea !important;
  color: #313437 !important;
  border: 1px solid #ecebea !important;
}