#main {
    .woocommerce-products-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 60px;

        @media(max-width:1450px) {
            margin-top: 0;
        }


        @media(max-width:992px) {
            margin-top: 120px;
            margin-bottom: 30px;
        }

        @media(max-width:767px) {
            margin-top: 72px;
        }

        // @media(max-width:650px) {
        //     margin-top: 0px;
        // }

        @media(max-width:567px) {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 50px;
        }


        .breadcrumbs {
            font-size: 14px;
            color: #32B1B6;
            width: 250px;
            text-align: left;
            padding: 0;

            @media(max-width:1024px) {
                // width: auto;
            }

            span {
                a {
                    color: #A5E8DE;
                }
            }
        }

        .title-wrap-archive {
            width: calc(100% - 250px);
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;

            @media(max-width:1024px) {
                width: 100%;
                justify-content: flex-end;
            }


            &::before {
                content: '';
                height: 1px;
                width: 100%;
                background-color: #A5E8DE;
                position: absolute;
                top: calc(50% - 1px);
                left: 0;

                @media(max-width:1024px) {
                    display: none;
                }

                @media(max-width:567px) {
                    display: block;
                    left: -15px;
                }
            }

            h1 {
                font-size: 4rem;
                margin-bottom: 0;
                text-align: center;
                background-color: #fff;
                position: relative;
                padding: 0 10%;
                color: #32B1B6;
                font-family: 'Kaushan Script', cursive;

                @media(max-width:1024px) {
                    padding: 0 15px 0 30px;
                    font-size: 3rem;
                }

                @media(max-width:567px) {
                    font-size: 40px;
                }
            }
        }
    }

    .product-wrap-content {
        display: flex;
        justify-content: space-between;

        @media(max-width:1024px) {
            flex-direction: column;
        }

        .col-left {
            width: 250px;
            padding-right: 30px;

            @media(max-width:1024px) {
                padding-right: 0;
                width: 100%;
            }

            #secondary {
                h3.berocket_ajax_group_filter_title {
                    background-color: #DAA070;
                    color: #fff;
                    font-size: 18px;
                    line-height: 24px;
                    padding: 20px 15px;
                    text-align: center;
                    text-transform: uppercase;
                    margin-bottom: 30px;

                    @media(max-width:1024px) {
                        padding: 10px;
                    }
                }

                .berocket_inline_filters {
                    @media(max-width:1024px) {
                        padding-right: 0 !important;
                        float: auto !important;
                    }

                    &.berocket_single_filter_widget {
                        .bapf_sfilter {
                            margin-bottom: 30px;

                            .bapf_head {
                                h3 {
                                    text-transform: uppercase;
                                    font-size: 18px;
                                    line-height: 24px;
                                    text-align: center;
                                    margin-bottom: 30px;
                                    color: #373531;
                                    font-weight: normal;
                                    border: 0;
                                    padding-bottom: 0;
                                }
                            }

                            .bapf_body {
                                ul {
                                    padding: 0;
                                    margin: 0;

                                    @media(max-width: 1024px) {
                                        display: flex;
                                        justify-content: space-between;
                                        flex-wrap: wrap;
                                    }

                                    li {
                                        font-size: 18px;
                                        line-height: 24px;
                                        margin-bottom: 20px !important;

                                        @media(max-width: 1024px) {
                                            margin-right: 15px !important;
                                        }



                                        label {
                                            font-size: 18px;
                                            line-height: 24px;
                                            margin: 0;

                                            span.bapf_clr_span {
                                                border: 1px solid #ECEBEA;
                                                overflow: unset;
                                                width: 14px !important;
                                                height: 14px !important;
                                                margin-right: 15px;

                                                &::after {
                                                    content: '';
                                                    display: block;
                                                    width: 20px;
                                                    height: 20px;
                                                    background-color: transparent;
                                                    border: 1px solid #ECEBEA;
                                                    position: absolute;
                                                    top: 50%;
                                                    left: 50%;
                                                    transform: translate(-50%, -50%);
                                                    z-index: -1;
                                                }
                                            }
                                        }

                                        input {
                                            border: 1px solid #ECEBEA;
                                            margin: 0 15px 0 0;
                                        }


                                        &.checked {
                                            label {
                                                color: #DAA070;

                                                span.bapf_clr_span {
                                                    transform: rotate(0deg);

                                                    &::after {
                                                        box-shadow: 0 0 10px #DAA070;
                                                        // transform: rotate(0);
                                                    }
                                                }
                                            }
                                        }

                                    }
                                }



                                .bapf_slidr_all {
                                    .irs--square {
                                        .irs-handle {
                                            width: 0;
                                            height: 0;
                                            border-left: 10px solid transparent;
                                            border-right: 10px solid transparent;
                                            border-bottom: 10px solid #DAA070;
                                            border-top: 0;
                                            -webkit-transform: rotate(0deg);
                                            -ms-transform: rotate(0deg);
                                            transform: rotate(0deg);

                                            &.from {
                                                -webkit-transform: rotate(90deg);
                                                -ms-transform: rotate(90deg);
                                                transform: rotate(90deg);
                                                -webkit-transform: rotate(90deg);
                                                -ms-transform: rotate(90deg);
                                                transform: rotate(90deg);
                                                margin-left: -5px;
                                                margin-top: 2px;
                                                background-color: transparent;
                                            }

                                            &.to {
                                                -webkit-transform: rotate(90deg);
                                                -ms-transform: rotate(90deg);
                                                transform: rotate(90deg);
                                                -webkit-transform: rotate(90deg);
                                                -ms-transform: rotate(90deg);
                                                transform: rotate(-90deg);
                                                margin-left: 5px;
                                                margin-top: 2px;
                                                background-color: transparent;
                                            }
                                        }

                                        .irs-bar {
                                            background-color: #373531;
                                            height: 1px;
                                        }

                                        .irs-line {
                                            height: 1px;
                                        }

                                        .irs {

                                            .irs-from,
                                            .irs-to {
                                                background-color: #DAA070;
                                                padding: 3px 4px 3px;
                                            }


                                        }
                                    }


                                }
                            }
                        }
                    }
                }
            }
        }

        .col-right {
            width: calc(100% - 250px);

            @media(max-width:1024px) {
                width: 100%;
            }


            .woocommerce-pagination {
                float: left;

                ul.page-numbers {
                    padding: 0;
                    margin-left: 170px;
                    display: flex;
                    height: 60px;
                    align-items: center;

                    @media(max-width:1440px) {
                        margin-left: 70px;
                    }

                    @media(max-width:1024px) {
                        margin-left: 0;
                    }

                    li {
                        list-style: none;
                        padding-right: 7.5px;
                        font-size: 18px;
                        color: #373531;

                        a {
                            color: #373531;
                        }

                        span {
                            &.current {
                                color: #32B1B6;
                            }
                        }
                    }
                }
            }

            .woocommerce-ordering {
                select.orderby {
                    display: block;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: #373531;
                    line-height: 24px;
                    min-width: 235px;
                    height: 60px;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    margin: 0;
                    border: 1px solid #ECEBEA;
                    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: #fff;
                    text-align: center;

                    @media(max-width:1024px) {
                        font-size: 14px;
                        padding: 10px;
                        min-width: auto;
                        height: unset;
                        line-height: auto;
                    }

                    @media(max-width:567px) {
                        width: 100%;
                    }

                    &:focus-visible {
                        outline: -webkit-focus-ring-color auto 0px;
                    }

                    option {
                        &:not(:checked) {
                            background-color: #fff;
                        }
                    }
                }
            }

            .woocommerce-result-count {
                display: none !important;
            }

            select.orderby {
                float: right;
            }



            ul.products {
                clear: both;

                &.columns-4 {
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap: 50px 30px;
                    display: grid;
                    padding-top: 30px;
                    padding-left: 0;
                    margin-left: 170px;

                    @media(max-width:1024px) {
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 40px 15px;
                    }

                    @media(max-width:450px) {
                        grid-template-columns: 1fr;
                    }

                    li.product {
                        list-style: none;
                    }
                }

                &.columns-3 {
                    padding-top: 30px;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 40px 30px;
                    display: grid;
                    padding-left: 0;
                    margin-bottom: 80px;
                    margin-left: 170px;

                    @media(max-width:1440px) {
                        margin-left: 70px;
                    }


                    @media(max-width:1199px) {
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 40px 15px;
                        margin-left: 0;
                    }

                    @media(max-width:576px) {
                        grid-template-columns: 1fr;
                    }

                    li.product {
                        list-style: none;
                        position: relative;



                    }
                }
            }
        }
    }
}



.wishlist-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px 30px;

    @media(max-width:1450px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media(max-width:1024px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 15px;
    }

    @media(max-width:576px) {
        grid-template-columns: 1fr;
    }

    .yith-wcwl-item {
        .product-thumbnail {
            position: relative;

            .remove_from_wishlist.button {
                position: absolute;
                bottom: 15px;
                right: 15px;

                img {
                    background-color: transparent !important;
                }
            }
        }

        .product-info {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 15px;

            .product-name {
                a {
                    color: #373531;
                }
            }
        }
    }

    .no-product-in-whislist {
        font-size: 16px;
    }
}